@using AllBusinesLands.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<AllBusinesLands.Models.Bien>


@foreach (var item in Model)
{
    <div class="col-md-3" style="padding: 10px 0px 10px 0px; margin: 25px 25px 25px 25px; background-color: #00BFFF; border-radius: 10px; text-align: center">
        <img src="https://www.seeklogo.net/wp-content/uploads/2015/09/uefa-euro-2016-logo-vector-download.jpg" width="150px" height="150px">
        <p>@Html.DisplayFor(modelItem => item.Titulo)</p>
        <p>@Html.DisplayFor(modelItem => item.Detalle)</p>
        <p>@Html.DisplayFor(modelItem => item.Precio)</p>
        <p>@Html.DisplayFor(modelItem => item.Telefono)</p>
        <p>@Html.DisplayFor(modelItem => item.Email)</p>
        <p>@Html.DisplayFor(modelItem => item.FechaIngreso)</p>
        <p>@Html.DisplayFor(modelItem => item.HoraIngreso)</p>
        <div>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})


            @*@Html.ActionLink("Enviar", "Contact", "Home", new { id = User.Identity.GetUserId() }, null)*@
        </div>

        



    </div>
}